{% extends 'processor/base_cabinet.html' %}

{% load static %}

{% block content %}
        <!-- About-->
        <section class="page-section" id="login">
            <div class="container">
                <div class="row justify-content-center">
                    <h1>Добро пожаловать в Imaginator!</h1>
                </div>

                <div class="row justify-content-center">
                    <p>Здесь вы можете загрузить несколько фотографий и сделать их цветными</p>
                    <p>Результат можно загрузить архивом на ваше устройство либо сохранить в нашем сервисе</p>
                </div>

                <div class="row justify-content-center">
                    <div class="text-center">
                        <h2 class="text-white mt-0">Загрузить фотографии</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">Обработка занимет всего несколько секунд!</p>
						<form name = "form" enctype = "multipart/form-data" method = "POST" >
                            {% csrf_token %}
							<input class="form-control" type="file" name="file_field" id="file_field" accept="image/jpeg" multiple></input>
							<br/>

							<button class="btn btn-primary btn-xl js-scroll-trigger" href="#about" >Обработать</button>
						</form>

                    </div>
                </div>

            </div>
        </section>
        <!-- Services-->
{% endblock content %}

