{% extends 'processor/base.html' %}
{% load static %}
{% block content %}
 <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Дайте новую жизнь старым фотографиям!</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Сделайте черно-белые фотографии цветными в нашем сервисе</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Начать!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <h2 class="text-white mt-0">Загрузите вашу фотографию</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">Обработка занимет всего несколько секунд!</p>
						<form name = "form" enctype = "multipart/form-data" method = "POST" >
                            {% csrf_token %}
							<input class="form-control"  type="file" name="photo" accept="image/jpeg"></input>
							<br/>

							<button class="btn btn-light btn-xl" href="#about" >Обработать</button>
						</form>

                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">О сервисе</h2>
                <hr class="divider my-4" />
                <div class="row">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-door-closed text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Просто</h3>
                            <p class="text-muted mb-0">Все что вам нужно - загрузить фото, искуственный интелект сделает все за вас!</p>
                        </div>
                    </div>

					<div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Удобно</h3>
                            <p class="text-muted mb-0">Сохраните старые фото в личном альбоме и делитесь с близкими</p>
                        </div>
                    </div>

					<div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-lock text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Надежно</h3>
                            <p class="text-muted mb-0">В облаке ваши фотографии всегда будут в целости и сохранности</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'processor/assets/img/portfolio/thumbnails/test.jpg' %}">
                            <img class="img-fluid" src="{% static 'processor/assets/img/portfolio/thumbnails/test.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">До</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'processor/assets/img/portfolio/thumbnails/test2.jpg' %}">
                            <img class="img-fluid" src="{% static 'processor/assets/img/portfolio/thumbnails/test2.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">До</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'processor/assets/img/portfolio/thumbnails/test3.jpg' %}">
                            <img class="img-fluid" src="{% static 'processor/assets/img/portfolio/thumbnails/test3.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">До</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'processor/assets/img/portfolio/thumbnails/test1r.jpg' %}">
                            <img class="img-fluid" src="{% static 'processor/assets/img/portfolio/thumbnails/test1r.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">После</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'processor/assets/img/portfolio/thumbnails/test2r.jpg' %}">
                            <img class="img-fluid" src="{% static 'processor/assets/img/portfolio/thumbnails/test2r.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">После</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'processor/assets/img/portfolio/thumbnails/test3r.jpg' %}">
                            <img class="img-fluid" src="{% static 'processor/assets/img/portfolio/thumbnails/test3r.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">После</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container text-center">
                <h2 class="mb-4">Вы так же можете обработать сразу несколько фотографий</h2>
                <a class="btn btn-light btn-xl" href="{% url 'cabinet' %}">Попробовать</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Остаемся на связи!</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Есть отзыв или предложение? Пишите нам!</p>
                    </div>
                </div>

				<div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <form>
							<div class="form-group">
								<textarea class="form-control" id="feedbackText" rows="3"></textarea>
							 </div>
							 <button class="btn btn-primary btn-xl js-scroll-trigger" id="btnSaveFeedback" name="btnSaveFeedback">Отправить</button>
						</form>
                    </div>
                </div>
                </div>
            </div>
        </section>

{% endblock content %}
