{% extends 'processor/base.html' %}

{% load static %}

{% block content %}

        <!-- About-->
        <section class="page-section" id="login">
            <div class="container">
                <div class="row justify-content-center">
                    <form method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" >
                      </div>

                      <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                      </div>

                      <button type="submit" class="btn btn-primary">Войти</button>
                      <a class="btn btn-default" href="{% url 'registration' %}">Регистрация</a>
                    </form>
                </div>
            </div>
        </section>
        <!-- Services-->
{% endblock content %}

