{% extends 'processor/base.html' %}

{% load static %}

{% block content %}

        <!-- About-->
        <section class="page-section" id="login">
            <div class="container">
                <div class="row justify-content-center">
                    <form method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" >
                      </div>
                        <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" >
                      </div>

                      <div class="form-group">
                        <label for="password1">Пароль</label>
                        <input type="password" class="form-control" id="password1" name="password1" >
                      </div>

                        <div class="form-group">
                        <label for="password2">Повторите пароль</label>
                        <input type="password" class="form-control" id="password2" name="password2" >
                      </div>

                      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- Services-->
{% endblock content %}

