{% extends 'processor/base_cabinet.html' %}

{% load static %}

{% block content %}
        <!-- About-->
        <section class="page-section" id="login">
            <div class="container">
                <div class="row justify-content-center">
                    <h1>Ваши фотографии обрабатываются...</h1>
                </div>

                <div class="row justify-content-center">
                    <p>Мы покажем вам результат как только обработка закончится</p>
                </div>

            </div>
        </section>
        <!-- Services-->
{% endblock content %}

